.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 85%;
  margin: 50px auto;
}

.about .aboutUs {
  padding: 20px;
}

.about .aboutUs h1 {
  color: var(--main-color);
  margin-bottom: 20px;
}

.about .aboutUs p {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.about .aboutUs p strong {
  color: var(--main-color);
  font-size: 15px;
}

.about .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about .img img {
  width: 600px;
  border-radius: 10px;
}

@media (max-width: 799px) {
  .about {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 20px auto;
  }

  .about .img {
    justify-content: center;
  }

  .about .img img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }

  .about .aboutUs {
    text-align: center;
  }

  .about .aboutUs p {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .about {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 10px auto;
  }

  .about .aboutUs {
    padding: 10px;
  }

  .about .img img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
  }

  .about .aboutUs p {
    font-size: 12px;
  }
}
